@mixin transition($property,$duration){
    transition-property: $property;
    transition-duration: $duration;
}
@mixin underlinetransition($width){
    &::after {
        content: '';
        display: block;
        height: 0.2em;
        background-color: $accent-color;
        transform: scaleX(0);
        @include transition(transform,0.2s);
    }

    &:hover {
        &::after {
            transform: scaleX($width);
        }
    }
}
@mixin style-reset-a-li{
    a{
        text-decoration: none;
        color:#000;
        &:hover{
            color:#000;
        }
    }
    li{
        list-style-type: none;
    }
}